body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.column {
  float: left;
  width: 25%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
}

.column:hover {
  opacity: 0.75;
  transform: scale(1.05);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  max-width: 90%;
  max-height: 87vh;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
