body, html {
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  width: 25%;
  height: 100vh;
}

.column:hover {
  opacity: 0.75;
  -webkit-transition: all 0.2s ease-in-out;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
